body {
  background-color: #fff;
  width: auto;
  height: auto;
}
.header {
  border-bottom: 2px solid #ccc;
  margin-bottom: 40px;
}
.api_container {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}
.api_container table tr th {
  font-size: 14px;
}
.api_container .table .thead-dark th {
  background-color: #808080;
  border-color: #808080;
}
.api_container .container {
  height: 100%;
}

.footer {
  background-color: #cacaca;
}
.footer p {
  font-size: 13px;
}
